<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<jmxConfigurator/>

    <property name="default-pattern" value="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
	<property name="max.retention.days" value="1" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level {%thread} [%logger{36}] : %msg%n</pattern>
        </encoder>
    </appender>
    
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>


	<appender name="applicationFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/logs/application.log</file>
		<append>true</append>
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp//logs/application.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>${max.retention.days}</maxHistory>
		</rollingPolicy>
	</appender>
	
	<property name="application.log.level" value="DEBUG" />
	
	<logger name="com.sample" level="${application.log.level}" additivity="false">		
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="applicationFileAppender" />

	</logger>
	
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.eclipse.persistence" level="${application.log.level}" additivity="false">		
		<appender-ref ref="CONSOLE" />
	</logger>

</configuration>